attrs
certifi
charset-normalize
confluent-kafka
Faker
fastavro
idna
jsonschema
pyrsistent
python-dateutil
requests
six
urllib3
avro-python3
pip-tools
argparse
requests
jsonschema
avro
faker
faker-schema
avro-json-serializer